# Required
TAVILY_API_KEY=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

# Azure OpenAI (Chat + Vision via gpt-4o)
AZURE_OPENAI_ENDPOINT="https://rg-law-gpt.openai.azure.com"
AZURE_OPENAI_API_KEY="389dfa3913c14d7c8514b53722c2c162"
OPENAI_API_VERSION="2023-03-15-preview"
AZURE_EMBEDDING_MODEL_DEPLOYMENT="RG-LAW-GPT-text-embedding-ada-002"
AZURE_CHAT_MODEL_DEPLOYMENT="RG-LAW-GPT-CHAT-gpt-4o"
EMBEDDING_DIMENSIONS="1536"

# Optional for evaluation and tracing
LANGSMITH_API_KEY=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
# LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lca-lc-foundation
# LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
